.correct-count-label {
    -fx-background-image: url('../GuessWordGameImage/streak.png');
    -fx-background-size: 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10% 50%;
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.4, 0, 1);
    background-color: #2e2e2e;
}

.score-count-label {
    -fx-background-image: url('../GuessWordGameImage/high-score.png');
    -fx-background-size: 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10% 50%;
    -fx-background-color: #2e2e2e;
    -fx-background-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.4, 0, 1);
    background-color: #2e2e2e;
}

.game-rule-label {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.4, 0, 1);
    background-color: white;
}

.game-rule-label:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.4, 0, 0);
}